@font-face {
    font-family: "light";
    src: url(./阿里巴巴普惠体-Light.ttf);
}

@font-face {
    font-family: "Righteous";
    src: url(./Righteous.ttf);
}

@font-face {
    font-family: "try";
    src: url(./演示斜黑体.otf);
}